.about
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textos p
{
    padding-bottom: 5px;
    text-align: justify;
}

.textos
{
    max-width: 400px;
    width: 100%;
    padding: 1rem;
}

#sobre {
    display: flex; 
}

@media (max-width: 768px) {
    #sobre {
        display: none !important;
    }
}

@media (min-width: 769px) {
    #sobre {
        display: flex !important;
    }
}