:root {
    /* Cores Principais */
    --primary: #3B82F6;
    --primary-dark: #1E40AF; 
    --accent: #60A5FA;       

    /* Fundo e Texto */
    --background: #e4e7eb;   
    --surface: #FFFFFF; 
    --text-primary: #1E2937;
    --text-secondary: #64748B;
    
    /* Outros úteis */
    --border: #E2E8F0;
    --success: #10B981;
    --danger: #EF4444;
}


[data-theme="dark"] {
    --background: #0F172A;
    --surface: #1E2937;
    --text-primary: #F1F5F9;
    --text-secondary: #94A3B8;
    --border: #334155;
}