.footer-page
{
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: var(--primary-dark);
    color: white;
}
