/*Estilizando Titulo do dashboard*/
.titulo
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem;

}

h1
{
    display: inline-block;
    font-size: 1.7rem;
}