/*Estilizando Titulo do dashboard*/
.titulo
{
    /*Alinha o título com os botões e o filtro*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem;
}

h1
{
    display: inline-block;
    font-size: 1.7rem;
}

.funcoes
{
    /*Agrupa as ações do dashboard*/
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;
}
