@import url("/front-end/css/import-cadastro-login.css");

/*Estilizando as informacoes*/

.informacoes
{
    display: flex;
    flex-direction: row;;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    max-height: 900px;

    border: 1px solid black;
    border-radius: 5px;

    padding-left: 2px;
    padding-right: 2px;
    box-shadow: 0px 0px 10px rgb(163, 163, 163);

    margin: 25px;
}

/*Estilizando os botoes*/

#btn-login
{
    padding: 0.3rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    width: 100%;

    transition: 200ms;
}

#btn-login:hover
{
    transform: translateY(-5px) scale(1.03);
    transition: 200ms;

    box-shadow: 0px 0px 10px rgb(143, 143, 143);
}

#cadastrar-se
{
    cursor: pointer;
    text-decoration: none;

    color: black;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;

    padding: 10px;
}

/*Estilizando sobre*/

.about
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textos p
{
    padding-bottom: 5px;
    text-align: justify;
}

.textos
{
    max-width: 400px;
    width: 100%;
    padding: 1rem;
}