/*Reset básico da página*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    /*Mantém o layout ocupando a altura toda da tela*/
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    height: 100%;
}

html
{
    /*Deixa a navegação por links internos mais suave*/
    scroll-behavior: smooth;
}
